.card{
    background-color: beige;
    padding: 15px;
    border-radius: 20px;
    color: black;

}

.chip-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    flex-direction: row;
}